html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

input:focus {
  outline: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  padding-bottom: 100px;
}

.list-box {
  width: 40vw;
  min-width: 400px;
  background-color: white;
  border-radius: 2px;
  border: 1px solid #d0d9d4;
  box-shadow: 1px 2px 10px rgb(212, 211, 211);
}

.all-box {
  border-bottom: 1px solid gray;
  padding: 15px 10px;
}

.input-box {
  border-bottom: 1px solid gray;
}

.the-input {
  height: 50px;
  width: 100%;
  border: none;
  padding-left: 15px;
}

.input-text {
  padding-left: 10px;
  border: none;
}

.all-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.list-icon {
  float: right;
  padding-right: 10px;
}

.clear-button {
  text-align: center;
  padding: 20px 10px;
  width: 100%;
  border: none;
  font-size: 17px;
  color: gray;
}

.clear-text {
  color: gray;
}

::-webkit-input-placeholder {
  font-style: italic;
}

::-moz-placeholder {
  font-style: italic;
}

:-moz-placeholder {
  font-style: italic;
}

:-ms-input-placeholder {
  font-style: italic;
}
